.event-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.filter-group {
  margin-bottom: 24px;
  width: 100%;
  text-align: left;
}

.input-wrapper {
  position: relative;
  display: block;
  width: 400px;
}

.filter-input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 3px solid #e5e3d4;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #7f7d70;
  transition: border-color 0.3s;
  margin-left: 30px;
}

.filter-input:focus {
  border-color: #82684e;
}

.input-wrapper .icon {
  position: absolute;
  left: 415px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #82684e;
  pointer-events: none;
}

.event-section h2 {
  font-size: 30px;
  margin-top: 40px;
  text-align: left;
  padding-left: 30px;
}

.events {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  padding-left: 32px;

}
