.login-form {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fefcec;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 10px;
  border: 3px solid #e5e3d4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  color: #7f7d70;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #7f7d70;
  text-align: left;
  width: 100%;
}

.login-form input {
  width: 90%;
  max-width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #e5e3d4;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #7f7d70;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #82684e;
}

.login-form button {
  max-width: 350px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #A6B37D;
  color: #fefcec;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #82684e;
}

.login-form .signup-link {
  margin-top: 15px;
}

.login-form .signup-link a {
  color: #82684e;
  font-weight: 600;
  text-decoration: none;
}

.login-form .signup-link a:hover {
  text-decoration: underline;
}
